extends common/layout

block main-content
  section#about-section
    h2 About Manga Emporium
    p Welcome to Manga Emporium, your one-stop shop for all the latest and greatest manga. We are passionate about bringing the best manga to our community of manga enthusiasts.
    p Whether you're looking for popular series or hidden gems, we have something for everyone. Our store offers a wide selection of genres and titles to choose from.
    p Come visit us and immerse yourself in the wonderful world of manga!
