doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/styles.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
    header#header 
        h2#site-name 
            a(href="/") Manga Emporium
    main#main
        block main-content
    include footer.pug
